/* CSS for sketchpad */
.spcontainer {
	width: 960px;
	height: 960px;
	border: 1px solid black;
	margin: 0;
	padding: 0;
}

.pixel {
	float: left;
}
.row {
	clear: left;
	width: 961px;
	float: left;
}

.red {
	background-color: red;
}

}

.buttons {
	display: inline;
}